.word {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    user-select: none;
    pointer-events: none;
}

.letter {
    user-select: none;
    pointer-events: none;
    height: 35px;
    transition: color 0.1s ease;
}

.letter.correct {
    color: #77cd20;
}

.letter.incorrect {
   color: #b90505; 
}

.text-container {
    user-select: none;
    pointer-events: none;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0.5rem;
}

.typing-test {
    margin-top: 2rem;
    /* position: relative; */
}

.text-input {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    border-radius: 0;
    border: 0;
    z-index: -1;
    pointer-events: none;
}

.caret {
    display: block;
    width: 2px;
    height: 30px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 5px white;
    animation: 1s phase infinite;
    position: absolute;
    top: 0;
    left: -2px;
    margin-top: 1px;
    transition: transform 0.15s ease;
}

@keyframes phase {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}