.word {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    user-select: none;
    pointer-events: none;
}

.letter {
    user-select: none;
    pointer-events: none;
    height: 35px;
    border-bottom: 2px solid transparent;
    transition: color 0.1s ease, border-bottom-color 0.2s ease, background-color 0.1s ease;
}

.letter.correct {
    color: #77cd20;
}

.letter.incorrect {
   color: #b90505; 
   background-color: #ff00001c;
   border-bottom-color:red;
}

.word-end {
    position: relative;
}

.word-end::after {
    content: '';
    width: 15px;
    height: 35px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease, background-color 0.1s ease;
}

.word-end.incorrect::after {
    background-color: #ff00001c;
    border-bottom-color: red;
}

.text-container {
    user-select: none;
    pointer-events: none;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0.5rem;
    filter: blur(0px) opacity(1);
    transition: filter 0.3s ease;
    will-change: filter;
}

.typing-test {
    margin-top: 1rem;
}

.text-input {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    outline: none;
    border-radius: 0;
    border: 0;
    z-index: -1;
    pointer-events: none;
}

.loader {
    margin-top: 2rem;
    font-size: 20px;
}

.caret {
    display: block;
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 5px white;
    top: 0;
    left: -2px;
    margin-top: 1px;
    transition: transform 0.15s ease, opacity 0.3s ease;
    opacity: 1;
    will-change: opacity;
}

.caret:not(.hidden, .active){
    animation: 1s phase infinite ease 0.3s;
}

.caret.hidden {
    opacity: 0 !important;
}

@keyframes phase {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

.test-wrapper {
    position: relative;
}

.race-results {
    user-select: all !important;
    pointer-events: all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.race-results > .categories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 150px;
}

.race-results > .chart {
    flex-grow: 1;
    max-height: 100%;
    flex-shrink: 1;
    position: relative;
}

.race-results > .chart > canvas {
    width: 100% !important;
    height: 100% !important;
}

.race-results .result-category {
    display: flex;
    flex-direction: column;
}

.result-category > .category-title {
    color: #909090;
}

.result-category.prominent {
    font-size: 20px;
}

.result-category > .result-value {
    color: rgb(192, 192, 192);
}

.result-category.prominent > .result-value {
    color: rgb(110, 187, 218);
    font-weight: bold;
    font-size: 30px;
}

.result-value.group {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.result-value.group .fraction {
    font-size: 16px;
    font-weight: normal;
    color: rgb(95, 162, 188);
    line-height: 28px;
}

.test-wrapper:has(.race-results) .text-container {
    filter: blur(5px) opacity(0);
}

.restart {
    background-color: rgba(61, 61, 61, 0.151);
    border: 0;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, scale 0.15s ease;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    user-select: none;
}

.restart:hover {
    color: #adadad;
    background-color: #3f3f3f65;
    border-color:rgb(63, 63, 63);
}

.restart:active {
    scale: 0.95;
}